.ActionButton {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    padding: 4px;

    border: 2px solid #ff8500;
    color: #5F860A;
    font-size: x-large;

    cursor: pointer;
}

.ActionButton:hover {
    background-color: rgba(95, 134, 10, 0.2);
}

.ActionButton:focus {
    outline: none;
    padding: 6px;
    border-width: 4px;
    background-color: rgba(95, 134, 10, 0.2);
}

.ActionButton:active {
    background-color: rgba(95, 134, 10, 0.5);
}
