.LoginNav {
    display: flex;
    padding: 4px;
    color: #5F860A;
    border-top: 2px solid #ff8500;
    position: sticky;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    font-size: small;
    background-color: white;
}

.VerticalCenter {
    display: flex;
    flex-direction: column;
}