.searchBlock {
    display: grid;
    grid-template-columns: 100px 1fr auto auto;
    grid-column-gap: 8px;
    width: 100%;
    max-width: 638px;
}

.Select {
    grid-column: 1;
}

.Input {
    grid-column: 2;
    flex-grow: 1;
}

.Search {
    grid-column: 3;
}

.Settings {
    grid-column: 4
}