.searchBlock {
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 80px 1fr auto;
    grid-column-gap: 8px;
    width: 100%;
    max-width: 638px;
}

.Select {
    grid-column: 1;
}

.Input {
    grid-column: 2;
    flex-grow: 1;
}

.Button {
    grid-column: 3;
}
